/* Floating Buttons */

.btn-floating, .btn-floating:hover {
    background-color: #db4749;
}


/* ----------------- */
@media(max-width:1260px)
{
	.btn-group
	{
		margin-left:23%!important;
	}
}



/*---------BUTTONS----------*/
.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #4257A6;
    color: #fff;
}

.btn-large
{
	font-family: 'Open Sans';
	/*text-transform: uppercase;*/
    font-weight: 400;
    /*letter-spacing: 2px;*/
    padding: .5rem 2rem;
	background-color: #71A1D5;
    font-size: 1.2rem;
    display: inline-table;
	border-radius: 4px;
	
}
.btn-large:hover
{
	background-color: #4257A6;
	color: #fff !important;
}
.center-btn-slider
{
	background-color: transparent;
	color: #fff;
	border:3px solid #fff;
}
.center-btn-slider:hover
{
	background-color: #fff;
	color: #000!important;
	border:3px solid #fff;
}
.btn-opt2
{
	background-color: #b32025;
}
.btn-opt2:hover
{
	background-color: #bf2125;
	color: #fff;
}

.btn-hero
{
	background-color:white;
	color:#133b6c;
	margin-bottom:0px;
}
@media(min-width:998px)
{
	.btn-hero
	{
		background-color:white;
		color:#133b6c;
		margin-bottom:-50px;
	}
}
.btn-hero:hover
{
	background-color:#133b6c;
	color:white;
}
/*-------------------*/

/* Circle Button */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

/*---------------*/


.btn-social-icon
{
	height: 40px;
    width: auto;
    line-height: 1.3;
	border-radius: 4px!important;
	margin-left:5px!important;
	margin-right:5px!important;
}
.btn-social-icon > i
{
	height: auto!important;
	line-height: 0!important;
}


.btn {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
	color: #fff;
	background-color: #1fc3f0;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	border: 1px solid #1fc3f0;
}
.btn-default:hover,
.btn-default:focus, .btn-default:active {
  border: 1px solid #20caf9;
  outline: none;
  color: #fff;
  background-color: #20caf9;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover
{
	border: 1px solid #20caf9!important;
	outline: none;
	color: #fff;
	background-color: #20caf9!important;
}



.btn-subscribe {
	color: #fff;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid #fff;
}
.btn-subscribe:hover,
.btn-subscribe:focus, .btn-subscribe:active {
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  background-color: transparent;
}
.btn-subscribe.active.focus, .btn-subscribe.active:focus, .btn-subscribe.active:hover, .btn-subscribe:active.focus, .btn-subscribe:active:focus, .btn-subscribe:active:hover, .open>.dropdown-toggle.btn-subscribe.focus, .open>.dropdown-toggle.btn-subscribe:focus, .open>.dropdown-toggle.btn-subscribe:hover
{
	border: 1px solid #fff!important;
	outline: none;
	color: #fff;
	background-color: transparent;
}



.btn-subscribe
{
	color: #fff!important;
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: none;
}
.btn-default
{
	color: #fff!important;
	width: 100%;
	height: auto;
	border-radius: 2px;
	box-shadow: none;
	background-color: #1fc3f0;
	text-transform: none;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    /* border: 2px solid white; */
    border-radius: 1px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 10px;
}
.btn-submit, .btn-submit:visited
{
	font-family:'Roboto Condensed';
	font-weight:300;
	background-color:#232c55;
	border:0;
	border-radius:0px;
	text-transform:none;
	color:#ffffff;
}
.btn-submit:hover, .btn-submit:active, .btn-submit:focus
{
	background-color:#efc44d;
	color:#ffffff;
}
.blog-btn
{
	background-color:#1792a3;
	border:0;
	text-transform:lowercase;
	font-weight:normal;
	font-family:'Open Sans';
	border-radius:4px;
	padding:15px;
}
.blog-btn:hover,.blog-btn:active,.blog-btn:focus
{
	background-color:#3d3a50;
}


.btn-1
{
	background-color: transparent;
	color: white;
	border: 1px solid #fff;
}
.btn-1:hover
{
	background-color:#F4C034;
	border-color:#F4C034;
	
}