/*FLOATS*/

.f-right
{
	float:right;
}
@media(max-width:992px)
{
	.f-right
	{
		float:left;
	}
}

/*---------*/

/*Section Clearfix*/

section.clearfix
{
	height:60px;
}
@media(min-width:992px)
{
	section.clearfix
	{
		height:130px;
	}
}
@media(min-width:1200px)
{
	section.clearfix
	{
		height:135px;
	}
}

/*-----------------*/
/* Depths */

.z-depth-mod{
-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.05), 0 6px 30px 5px rgba(0, 0, 0, 0.09), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

/*-------*/
/* Columns */
.social-list
{
	margin-bottom: 0;
}
.social-list li
{
	float: left;
	padding:0px 12px;
}
.pad-col
{
	padding-bottom: 60px;
}
.pad-col-sm
{
	padding-bottom: 30px;
}
.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
@media(min-width: 1200px)
{
	.pad-col-sm
	{
		padding-bottom: 0px;
	}
}
@media(min-width: 992px)
{
	.pad-col
	{
		padding-bottom: 0;
	}
	.no-gutters > .col, .no-gutters > [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width: 768px){
.no-padding-on-large {
    padding: 0px;
}
}

/* HIDING */
.show-on-large-and-down {
	display: none !important;
}
@media only screen and (max-width: 1200px)
{
	.btn-group, .btn-group span, .left-wave-fix, .right-wave-fix {
		display: none !important;
	}
}

@media only screen and (max-width: 1200px)
{
	.hide-on-large-and-down {
		display: none !important;
	}
	.show-on-large-and-down {
    	display: block !important;
	}
}


/* ----------------*/


/* Responsive Squares */

.square-responsive {
  	position: relative;
  	width: 75%;
	border-radius: 4px;
	display: none;
}

.square-responsive:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	color:#fff;
	text-align: center;
	font-size: 1.9rem;
	display: none;
}

@media(min-width:992px)
{
	
	.square-responsive {
		position: relative;
		width: 75%;
		border-radius: 4px;
		display: block;
	}
	.content {
		font-size: 2.7rem;
		display: block;
	}
}

@media(min-width:1200px)
{
	.content {    
		font-size: 3.2rem;
    	display: block;
    	line-height: 1.7;
	}
}

/*-------------------*/

/* Vertical Menu */


.vertical-menu {
    width: 100%; /* Set a width if you like */
}

.vertical-menu a {
    /*background-color: #eee;*/ /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px 0px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
	padding: 10px 10px;
	transition: all .35s ease-in-out;
}

.vertical-menu a > h6{
	padding-bottom: 5px;
}

.vertical-menu a > p{
	color:#666666;
}

.vertical-menu a > span{
	color:#00b0aa;
}

.vertical-menu a:hover {
    background-color: #eeeeee; /* Dark grey background on mouse-over */
}

/* ----------------------- */

/* Center Image */

.img-center
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* ------------------ */
/* Center Button */

.btn-center
{
	
    margin-left: auto;
    margin-right: auto;
    display: table;
}
/* ------------- */
/* Aligner */

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;    
	position: absolute;
	height: 100%;
	width: 85%;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}

.Aligner-item {
  /*max-width: 50%;*/
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
/* --------------- */
/* a tags & buttons */
.btn-large
{
	height: auto;
}
a.btn-large, input.btn-large
{
	color:#fff;
    padding: .25rem 3rem;
}
a, a.link {
  color: #004072;
  font-family: 'Montserrat';
  font-weight: 300;
}
a:hover, a:focus {
  text-decoration: none;
  color: #004072;
}
a:not([href]):not([tabindex]) {
    /*color: inherit;*/
    text-decoration: none;
}
a.link:hover, a.link:focus {
  text-decoration: none;
  color: #3388a5;
}
a.link:not([href]):not([tabindex]) {
    color: #3388a5;
    text-decoration: none;
}
a[href^="tel:"] {
  color: #fff;
  text-decoration: none;
}
a[href^="mail:"] {
  color: #fff;
  text-decoration: none;
}
/* ------------------ */
/* Slider */

.caption-container
{
	position: relative;
    z-index: 3;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    height: 100%;
}
@media(min-width:992px)
{
	.caption-container
	{    
		position: relative;
		z-index: 3;
		width: 50%;
		margin-left: auto;
		margin-right: 0;
		height: 100%;
		top: 25%;
	}
}
/* Material CSS */




.row
{
	margin-bottom: 0;
}
.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.gradient
{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 40%, #B5B5B5 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 40%, #B5B5B5 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 40%, #B5B5B5 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40, #FFFFFF), color-stop(100, #B5B5B5));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #B5B5B5 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #FFFFFF 40%, #B5B5B5 100%);
}



.img-center
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

