/* CSS Document */


/* Navigation Styles    */



$nav-font: 'Lato';
$nav-font-size-1200: 13px;
$nav-font-size-992: 11px;
$nav-font-color:#707070;
$nav-font-color-hover:#112D5C;
$nav-main-background-color: #fff;
$nav-social-background-color: #fff;
$nav-transform: none;
$nav-menu-item-padding: 0 15px;
$nav-font-weight: 600;
/* Headers */

$main-header-font: 'Lato';
$main-header-weight: 700;
$main-header-color: #112D5C;
$header-letter-spacing: 0px;
$h1-font-size:48px;
$h2-font-size:36px;
$h3-font-size:1.875rem;
$h4-font-size:1.5rem;
$h5-font-size:1.5rem;
$h6-font-size:1.125rem;

/**/

/* Body */

$body-text-font: 'Roboto', sans-serif;
$body-slider-text-color:#fff;
$body-text-color:#fff;
$body-letter-spacing:0px;

/* Buttons */

$button-font: 'Lato';
$button-font-weight: 600;
$button-text-transform: uppercase;
$button-bg-color:#112D5C;
$button-bg-color-hover:#444;
$button-color:#fff;
$button-color-hover:#fff;
$button-font-size:	14px;
$button-border-radius:6px;
$button-padding:.05rem 2.5rem;
$button-box-shadow: none;

/* Slider */

$slider-caption-height-1200:60%;
$slider-caption-height-992:60%;
$slider-caption-height-768:50%;
$slider-caption-height-0:40%;


/* LINKS */



$link-color:#112D5C;
$link-color-hover:#112D5C;
$link-font:'Lato';
$link-weight: 200;